<%= form_tag events_path, method: :get, class: 'navbar-form', role: 'search' do %>
  <div class="form-group">
    <%= text_field_tag 'host_filter', host_filter,  class: 'form-control', placeholder: 'Host' %>
  </div>
  <div class="form-group">
  <%= select_tag 'priority',
        options_for_select(Event::PRIORITIES, selected: priority || Event::DEFAULT_PRIORITY),
        class: 'form-control'
  %>
  <div class="form-group">
    <%= text_field_tag 'from', from,  class: 'form-control', placeholder: 'From' %>
  </div>
  <div class="form-group">
    <%= text_field_tag 'till', till,  class: 'form-control', placeholder: 'Till' %>
  </div>
  <%= button_tag 'Go', class: 'btn btn-default' %>
<% end %>
