<%= form_tag events_path, method: :get, id: 'filter_form', class: 'navbar-form', role: 'search' do %>
  <div class="form-group">
    <%= text_field_tag 'host_filter', host_filter,  class: 'form-control', placeholder: 'Host' %>
  </div>
  <div class="form-group">
    <%= text_field_tag 'exclude_host_filter', exclude_host_filter,  class: 'form-control', placeholder: 'Exclude Host' %>
  </div>
  <div class="form-group">
  <%= select_tag 'priority',
        options_for_select(Event::PRIORITIES, selected: priority || Event::DEFAULT_PRIORITY),
        class: 'form-control'
  %>
  <div class="form-group">
    <div class='input-group date' id='from-datetimepicker'>
      <%= text_field_tag 'from', from.strftime('%Y/%m/%d %H:%M:%S'),  class: 'form-control', placeholder: 'From' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class='input-group date' id='till-datetimepicker'>
      <%= text_field_tag 'till', till.strftime('%Y/%m/%d %H:%M:%S'),  class: 'form-control', placeholder: 'Till' %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <%= button_tag 'Go', class: 'btn btn-default' %>
<% end %>
<%= javascript_tag do %>
  $(function () {
    $('#from-datetimepicker').datetimepicker({format: 'YYYY/MM/DD HH:mm:SS'});
    $('#till-datetimepicker').datetimepicker({format: 'YYYY/MM/DD HH:mm:SS'});
  });
<% end %>
