<% content_for :header do %>
  <%= javascript_include_tag 'http://www.google.com/jsapi' %>
  <%= javascript_include_tag :timeline %>
  <%= stylesheet_link_tag :timeline %>

  <%= javascript_tag do %>
    google.load("visualization", "1");

    // Set callback to run when API is loaded
    google.setOnLoadCallback(drawVisualization);

    // Called when the Visualization API is loaded.
    function drawVisualization() {
      // Create and populate a data table.
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'start');
      data.addColumn('datetime', 'end');
      data.addColumn('string', 'content');

      data.addRows([
        <% Event.get.each do |event| %>
          [new Date(<%= event.clock.year %>, <%= event.clock.mon - 1 %>, <%= event.clock.day %>, <%= event.clock.hour %>, <%= event.clock.min %>, <%= event.clock.sec %>), null, "<%== j event.subject %>"],
        <% end %>
      ]);

      // specify options
      var options = {
          "width":  "100%",
          "height": "300px",
          "style": "box"
      };

      // Instantiate our timeline object.
      var timeline = new links.Timeline(document.getElementById('mytimeline'), options);

      // Draw our timeline with the created data and options
      timeline.draw(data);
    }
  <% end %>
<% end %>

<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div id="mytimeline"></div>
