<% content_for :header do %>
  <%= javascript_include_tag '//www.google.com/jsapi' %>
  <%= javascript_include_tag :timeline %>
  <%= stylesheet_link_tag :timeline %>

  <%= render partial: 'timeline_javascript', locals: {
        events: @events,
        container_id: 'timeline',
        options: {
          width: '100%',
          height: 'auto',
          min: @from,
          max: @till,
          style: :dot,
          zoomMin: 1000 * 60 * 60,
          showNavigation: true,
          axisOnTop: true,
          navigationOnTop: true,
        }
      }
  %>
<% end %>

<% content_for :navbar_right do %>
  <%= render partial: 'form', locals: {host_filter: @host_filter, exclude_host_filter: @exclude_host_filter, priority: @priority, from: @from, till: @till} %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <%= render partial: 'paginator', locals: {host_filter: @host_filter, exclude_host_filter: @exclude_host_filter, priority: @priority, from: @from, till: @till} %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="timeline"></div>
  </div>
</div>
